In [1]:
import pandas as pd
import numpy as np

In [2]:
Calorie_burnage  = [80, 85, 90, 95, 100, 105, 110, 115, 120, 125]
print(Calorie_burnage )

[80, 85, 90, 95, 100, 105, 110, 115, 120, 125]

In [3]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [4]:
x = count_column = df.shape[1]
raw = df.shape[0]
print(f" Number of columns: {x}. Number of raws is: {raw}")

 Number of columns: 3. Number of raws is: 5

In [5]:
Array1 = f"The max of the array is {max(Calorie_burnage )} and min is {min(Calorie_burnage )}"
print(Array1)

The max of the array is 125 and min is 80

In [6]:
test001 = np.mean(Calorie_burnage)
print(test001)

102.5

# C:\Users\Admin\Desktop\PROJECT\STATISTICS

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p> Frenquency means the number of times a value appears in the data. A table can quickly show us how many times each value appears.

If the data has many different values, it is easier to use intervals of values to present them in a table. </p>

</body>
</html>

In [10]:
# Read csv file  
table = pd.read_csv("C:/Users/Admin/Desktop/PROJECT/STATISTICS/Book1.csv") 

# Print it out if you want to...
print(table)

  Age Interval  Frequency
0       Oct-19          1
1        20-29          2
2        30-39         48
3        40-49        158
4        50-59        236
5        60-69        262
6        70-79        174
7        80-89         50
8        90-99          3

import csv

with open('employee.csv','r') as file:
    employee = csv.reader(file)

print(employee)

In [11]:

df1 = pd.read_csv('data.csv')

print(df1)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [24]:
df2 = pd.read_csv('Book2.csv')


print(df2, "\n\n")

print(df2[1:2])

    Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work
0       30.0           80.0      120.0            240.0        10.0
1       30.0           85.0      120.0            250.0        10.0
2       45.0           90.0      130.0            260.0         8.0
3       45.0           95.0      130.0            270.0         8.0
4       45.0          100.0      140.0            280.0         0.0
5       60.0          105.0      140.0            290.0         7.0
6       60.0          110.0      145.0            300.0         7.0
7       60.0          115.0      145.0            310.0         8.0
8       75.0          120.0      150.0            320.0         0.0
9       75.0          125.0      150.0            330.0         8.0
10       NaN            NaN        NaN              NaN         NaN
11       NaN            NaN        NaN              NaN         NaN


   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work
1      30.0           85.0      120.0            250.0        10.0

In [33]:
print(pd.options.display.max_rows)

60